.edit-workout {
  h2 {
    text-align: center;
  }

  &__form {
    margin-top: 2rem;
  }

  &__response {
    &--success {
      margin-top: 2rem;
      text-align: center;
      color: green;
    }
    &--error {
      margin-top: 2rem;
      text-align: center;
      color: red;
    }
  }
}
