.nav {
  margin-top: 1rem;

  &__link {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 0.5rem;

    &::after {
      padding-left: 0.5rem;
      content: "|";
    }

    &:last-child {
      margin-right: 0;

      &::after {
        padding-left: 0;
        content: "";
      }
    }

    &:hover {
      color: #61dafb;
    }
  }
}
